[Unit]
Description=%i pod (podman-compose)
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/etc/containers/compose/%i
ExecStart=/usr/local/bin/podman-compose up --remove-orphans
ExecStop=/usr/local/bin/podman-compose down

[Install]
WantedBy=multi-user.target
